---
import BaseLayout from "../layouts/BaseLayouts.astro";
import BlogPosts from "../components/BlogPosts.astro";
const pageTitle = "Blog page";
const allPosts = await Astro.glob("./posts/*.md");
---

<BaseLayout pageTitle={pageTitle}>
  <h3>こちらには、今後学習していく内容をポストしていきます。</h3>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPosts url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
