---
import BaseLayout from "../layouts/BaseLayouts.astro";
import BlogPosts from "../components/BlogPosts.astro";
import { getCollection } from "astro:content";
const pageTitle = "Blog page";
const allPosts = await getCollection("posts");
---

<BaseLayout pageTitle={pageTitle}>
  <h3>こちらには、今後学習していく内容をポストしていきます。</h3>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPosts url={`/posts/${post.slug}`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
