---
import BaseLayout from "../layouts/BaseLayouts.astro";
import Greetings from "../components/Greetings.jsx";
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Hello World!</p>
  <Greetings
    client:load
    messages={["こんにちは", "こんばんは", "Hello", "Ora"]}
  />
</BaseLayout>
