---
const currentYear = new Date().getFullYear();
---

<footer>
  <hr class="full-width" />
  <p>
    &copy; {currentYear} Ray's Blog. All rights reserved.
  </p>
</footer>
<p>こちらのブログはAstroを使って作成しています。</p>
